<div class="page-navigation-desktop">
    {% include page-navigation.liquid %}
    <a href="{{ site.baseurl }}{{ previous_url }}" class="page-navigation-desktop__item page-navigation-desktop__item--previous"><span class="page-navigation-desktop__label">Previous:</span><span class="page-navigation-desktop__name">{{ previous_name }}</span></a>
    <div class="page-navigation-desktop__divider"></div>
    <a href="{{ site.baseurl }}{{ next_url }}" class="page-navigation-desktop__item page-navigation-desktop__item--next"><span class="page-navigation-desktop__label">Next:</span><span class="page-navigation-desktop__name">{{ next_name }}</span></a>
</div>
