<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        <header class="site-header site-header--home">
            <h1 class="site-header__site-title">{{ site.title }}</h1>
            <div class="site-header__planets">
                <img class="site-header__planet icon-world" alt="wireframe world" src="{{ site.baseurl }}/assets/images/icon-world@2x.png"/> 
                <img class="site-header__planet world" alt="world" src="{{ site.baseurl }}/assets/images/world.png"/> 
            </div>
        </header>
        <nav class="site-nav dither">
            <div class="site-nav__interior">
                <ul class="projects-list site-nav__items">
                    <li class="site-nav__item">Item 1</li>
                    <li class="site-nav__item">Item 2</li>
                    <li class="site-nav__item">item 3</li>
                </ul>
            </div>
        </nav>
        <main class="page-main">
            {{ content }}
        </main>
    </body>
</html>
