---
layout: default
---
<body class="project">
    <input name="site-nav-toggle" id="site-nav-toggle" class="invisible" type="checkbox" value=""/>
    <label for="site-nav-toggle" class="site-header site-header--project">
        <h1 class="site-header__title lace">Projects</h1>
    </label>
    <label for="site-nav-toggle" class="site-nav-screen dither dither--3"></label>
    <nav class="site-nav site-nav--project white dither">
        {% include site-nav-items.liquid %}
    </nav>
    <article class="project__page">
        <div class="info-header">
            <a class="info-header__interior dither" href="{{ site.baseurl }}/">
                <div class="planets planets--project">
                    <div class="planet world world--project"></div>
                </div>
            </a>
        </div>
        <main class="site-main site-main--project">
            <header class="project__header">
                <div class="project__breadcrumbs">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item"><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="breadcrumbs__item">
                            {% for item in site.project_collections %}
                                {% if item.slug == page.project_collection %}
                                    <span>{{ item.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
                <div class="page-navigation">
                    <div class="page-navigation__item page-navigation__item--previous lace"></div>
                    <div class="page-navigation__item page-navigation__item--next lace"></div>
                </div>
                <h1 class="project__title">{{ page.name }}</h1>
            </header>
            {{ content }}
        </main>
    </article>
</body>
